.widget-header {
    border: none !important;
    border-bottom: 1px solid #e0e6ed !important;
}

.widget-content {
    border: none !important;
}

.webkit-box {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: pre-wrap;
    min-width: 200px;
}

